shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy==1.23.5
visualdl
rapidfuzz
opencv-contrib-python
cython
lxml
premailer
openpyxl
attrdict

fastapi
loguru
uvicorn
python-multipart
paddlepaddle==2.5.2